body {
  font-family: sans-serif;
  margin: 0;
  color: #444444; }

.dev {
  color: #f24800; }

.App-header {
  padding: 10px;
  font-family: 'Philosopher', serif;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline; }
  .App-header h1 {
    font-size: 4em;
    letter-spacing: .05em;
    cursor: pointer; }
  .App-header nav {
    padding-top: 4.5%; }

.App-intro {
  font-size: large; }

main {
  margin: auto;
  width: 75%;
  padding: 10px;
  background-color: rgba(244, 245, 247, 0.97); }

footer {
  margin: 50px 0px 0px 40px;
  width: 80%;
  padding: 20px;
  color: white; }

@media only screen and (min-device-width: 960px) {
  body {
    background-image: url("../images/164.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed; } }

@media only screen and (max-device-width: 959px) {
  body {
    background-color: #59A2D9; }
  main {
    width: 90%; }
  footer {
    width: 90%;
    margin: 20px auto 0px auto; } }
