body {
  font-family: sans-serif;
  margin: 0;
  color: #444444;
  background-image: url("../images/164.JPG");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed; }

.App-header {
  padding: 20px;
  font-family: 'Philosopher', serif;
  color: white;
  display: grid;
  grid-template-columns: 30% 50% 20%; }
  .App-header h1 {
    font-size: 4em;
    text-align: left;
    text-indent: 7%;
    letter-spacing: .05em;
    cursor: pointer; }
  .App-header h2 {
    padding-top: 4.5%; }
  .App-header .social-logos {
    padding-top: 10%; }
    .App-header .social-logos img {
      padding: 0px 4px 0px 4px; }

.App-intro {
  font-size: large; }

main {
  margin-top: 20px; }

footer {
  margin: 50px 0px 0px 40px;
  width: 80%;
  border-top: 1px solid #f24800;
  padding: 20px; }
