.social-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 30px auto 30px auto; }

.social-logo img {
  display: block;
  margin: auto; }

#license {
  font-size: .7em;
  text-align: right; }
  #license a {
    color: black; }
