section.home {
  line-height: 1.5em; }
  section.home h2 {
    text-align: center;
    margin-top: 30px; }

#intro {
  font-size: 1.1em;
  text-align: center; }

#card-container {
  display: grid;
  grid-template-columns: 50% 50%;
  flex-wrap: wrap; }

.list-card {
  justify-self: center;
  border: 1px solid #f24800;
  border-radius: 5px;
  margin: 10px 30px;
  padding: 30px; }
  .list-card li {
    margin: 10px 0px; }
