.projects {
  width: 80%;
  margin: auto;
  display: flex;
}

.project-links {
  flex-basis: 30%;
  padding-top: 30px;
  li {
    list-style-type: none;
    cursor: pointer;
    line-height: 3em;
    color: #f24800;
    padding-left: 10px;
    margin-right: 20px;
    &:hover {
      background-color: #f8f9f4;
    }
  }
}

.project-card {
  padding: 20px;
  line-height: 1.7em;
  flex-basis: 65%;
}

.project-image {
  max-width: 90%;
  margin: 20px 0px;
}

.single-project-link {
  margin: 0px 10px;
  color: #f24800;
  text-decoration: none;
  padding: 10px;
  &:hover {
    background-color: #f8f9f4;
  }
}
